samples/IPYNB/adf/pipelines/L2O_DL4_SourceDB_SourceSchema_SourceTableName.json
samples/IPYNB/ipynb/TargetDB/Master/L2O_DL4_SourceDB_SourceSchema_SourceTableName.ipynb

# ignore packages installed in node_modules
node_modules/