samples/IPYNB/adf/pipelines/R2M_DL4_SourceDB_SourceSchema_SourceTableName.json
samples/IPYNB/ipynb/TargetDB/Master/R2M_DL4_SourceDB_SourceSchema_SourceTableName.ipynb

# ignore packages installed in node_modules
node_modules/