{
    "cells": [
        {{> LOAD_FROM_BLOB_NOTEBOOK}}
        {{> DL1_IPYNB_NOTEBOOK}}
        
    ],
    "metadata": {
        "name": "R2M_DL1_{{ template_config.variables.source_tablename_formatted }}"
    },
    "nbformat": 4,
    "nbformat_minor": 0
}