{
    "name": "S2M_DL2_{{ source.database }}_{{ source.schema }}_{{ source.tablename }}",
    "properties": {
        "activities": [
            {
                "name": "CopyTheNewRecords",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Get Maximum Date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "OracleSource",
                        "oracleReaderQuery": {
                            "value": "SELECT {{#source.date_columns}}to_utc_timestamp(TO_DATE(CAST(UNIX_TIMESTAMP(``, \\\{{ source.date_format }}\\\) AS TIMESTAMP)), {{ source.date_locale }}) AS `{{name}}_UTC`{{^last}},\\n {{/last}}{{/source.date_columns}}{{#source.columns}}\\tTRIM(m.`{{name}}`) as `{{name}}`{{^last}},\\n {{/last}}{{/source.columns}} From {{ source.tablename }} Where {{ source.modified_date_column }} >= TO_DATE( SubStr('@{activity('Get Maximum Date').output.firstRow.MaxDate}',1,10) ,  'YYYY-MM-DD')"
                        }
                    },
                    "sink": {
                        "type": "BlobSink"
                    },
                    "enableStaging": false,
                    "dataIntegrationUnits": 0
                },
                "inputs": [
                    {
                        "referenceName": "Oracle_{{ source.database }}_{{ source.schema }}_{{ source.tablename }}",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "BLOB_{{ source.database }}_{{ source.schema }}_{{ source.tablename }}",
                        "type": "DatasetReference",
                        "parameters": {
                            "subfolder": "{{ destination_subfolder }}",
                            "filename": "{{ destination_filename }}"
                        }
                    }
                ]
            },
            {
                "name": "ExportTheNewFile",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "CopyTheNewRecords",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderQuery": "Select * From stage_{{ target.schema }}"
                    },
                    "sink": {
                        "type": "BlobSink"
                    },
                    "enableStaging": false,
                    "dataIntegrationUnits": 0
                },
                "inputs": [
                    {
                        "referenceName": "Oracle_{{ source.database }}_{{ source.schema }}_{{ source.tablename }}",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "BLOB_{{ source.database }}_{{ source.schema }}_{{ source.tablename }}",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Get Maximum Date",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderQuery": "Select Cast(MAX({{ source.modified_date_column.name }}) as date) as MaxDate From [{{ target.schema }}].[{{ target.tablename }}]"
                    },
                    "dataset": {
                        "referenceName": "Oracle_{{ source.database }}_{{ source.schema }}_{{ source.tablename }}",
                        "type": "DatasetReference"
                    }
                }
            }
        ]
    }
}