{
    "name": "{{ template_config.outputs.0.output_file.name }}",
    "properties": {
        "activities": [
            {
                "name": "Get Maximum Value",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderQuery": "Select CONVERT(VARCHAR(20),isnull(max({{source.delta_column}}),'{{source.delta_column_format}}'),121) as maxDate From [Main].[{{source.database}}_{{source.schema}}_{{source.tablename}}];"
                    },
                    "dataset": {
                        "referenceName": "{{properties.sqldwsource}}",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "Stage temp file",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Get Maximum Value",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "OracleSource",
                        "oracleReaderQuery": {
                            "value": "SELECT SELECT {{#columns}}REPLACE(REPLACE({{name}}, CHR(13), '    '), CHR(10), '    '){{^last}},{{/last}}{{/columns}} FROM W_WAGON_ALL \nWHERE TM_MODIFIED_TIMESTAMP > '@{activity('Get Maximum Value').output.firstRow.maxDate }  '",
                            "type": "Expression"
                        }
                    },
                    "sink": {
                        "type": "BlobSink"
                    },
                    "enableStaging": false,
                    "dataIntegrationUnits": 0
                },
                "inputs": [
                    {
                        "referenceName": "TMS_TM_ALCN",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "RAW_TEMP_DUMMY",
                        "type": "DatasetReference",
                        "parameters": {
                            "subfolder": "TMSDW_WAGON_ALL",
                            "filename": "temp.dsv"
                        }
                    }
                ]
            },
            {
                "name": "Insert using merge",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Stage temp file",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "BlobSource",
                        "recursive": false
                    },
                    "sink": {
                        "type": "BlobSink",
                        "copyBehavior": "MergeFiles"
                    },
                    "enableStaging": false,
                    "dataIntegrationUnits": 0
                },
                "inputs": [
                    {
                        "referenceName": "RAW_TEMP_DUMMY",
                        "type": "DatasetReference",
                        "parameters": {
                            "subfolder": "TMSDW_WAGON_ALL",
                            "filename": "temp.dsv"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "BLOB_TMS_TM_ALCN",
                        "type": "DatasetReference",
                        "parameters": {
                            "FileName": "@{activity('Get Maximum Value').output.firstRow.MaxDate }.dsv"
                        }
                    }
                ]
            }
        ],
        "folder": {
            "name": "SRC_TO_RAW_DL2"
        }
    }
}