{
    "name": "{{ template_config.outputs.0.output_file.name }}",
    "properties": {
        "activities": [
            {
                "name": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Backup",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "/Shared/Operational/{{target.database}}/Master/{{template_config.outputs.0.output_file.name}}",
                    "baseParameters": {
                        "filename": {
                            "value": "@pipeline().parameters.filename",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Backup",
                "type": "DatabricksNotebook",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "{{ properties.backup_notebook_path}}",
                    "baseParameters": {
                        "backup_folder": {
                            "value": "@pipeline().parameters.backup_folder",
                            "type": "Expression"
                        },
                        "table": {
                            "value": "@pipeline().parameters.table",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Reconcilliation_Restore",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Reconcilliation_and_Capture_Run_Data",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "{{ properties.restore_notebook_path }}",
                    "baseParameters": {
                        "backup_filename": {
                            "value": "@pipeline().parameters.backup_filename",
                            "type": "Expression"
                        },
                        "backup_folder": {
                            "value": "@pipeline().parameters.backup_folder",
                            "type": "Expression"
                        },
                        "table": {
                            "value": "@pipeline().parameters.table",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Reconcilliation_and_Capture_Run_Data",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "{{ properties.reconcilliation_notebook_path}}",
                    "baseParameters": {
                        "business_function_group": {
                            "value": "@pipeline().parameters.business_function_group",
                            "type": "Expression"
                        },
                        "filename": {
                            "value": "@pipeline().parameters.filename",
                            "type": "Expression"
                        },
                        "full_table_name": {
                            "value": "@pipeline().parameters.table",
                            "type": "Expression"
                        },
                        "load_pattern": {
                            "value": "@pipeline().parameters.load_pattern",
                            "type": "Expression"
                        },
                        "raw_folder": {
                            "value": "@pipeline().parameters.raw_folder",
                            "type": "Expression"
                        },
                        "source_database": {
                            "value": "@pipeline().parameters.source_database",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "R2M_Restore",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "{{properties.restore_notebook_path}}",
                    "baseParameters": {
                        "backup_filename": {
                            "value": "@pipeline().parameters.backup_filename",
                            "type": "Expression"
                        },
                        "backup_folder": {
                            "value": "@pipeline().parameters.backup_folder",
                            "type": "Expression"
                        },
                        "table": {
                            "value": "@pipeline().parameters.table",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Alert on R2M Fail",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "url": "{{properties.logic_app_url}}",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body":
                    {
                        "messageID": "{{properties.R2M_fail_error_message_id}}",
                        "parameters": {
                            "filename": "@{pipeline().parameters.table}",
                            "table": "@{pipeline().parameters.table}",
                            "pipeline": "@{pipeline().Pipeline}",
                            "triggered": "@{pipeline().TriggerTime}",
                            "activity": "R2M"
                        }
                    }
                }
            },
            {
                "name": "Alert on Reconcilliation Fail",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Reconcilliation_and_Capture_Run_Data",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "url": "{{properties.logic_app_url}}",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body":
                    {
                        "messageID": "{{properties.R2M_fail_error_message_id}}",
                        "parameters": {
                            "filename": "@{pipeline().parameters.table}",
                            "table": "@{pipeline().parameters.table}",
                            "pipeline": "@{pipeline().Pipeline}",
                            "triggered": "@{pipeline().TriggerTime}",
                            "activity": "Reconcilliation_and_Capture_Run_Data"
                        }
                    }
                }
            },
            {
                "name": "Alert on Backup Fail",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Backup",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "url": "{{properties.logic_app_url}}",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body":
                    {
                        "messageID": "{{properties.R2M_fail_error_message_id}}",
                        "parameters": {
                            "filename": "@{pipeline().parameters.table}",
                            "table": "@{pipeline().parameters.table}",
                            "pipeline": "@{pipeline().Pipeline}",
                            "triggered": "@{pipeline().TriggerTime}",
                            "activity": "Backup"
                        }
                    }
                }
            }
        ],
        "parameters": {
            "backup_filename": {
                "type": "String",
                "defaultValue": "LATEST"
            },
            "backup_folder": {
                "type": "String",
                "defaultValue": "{{ properties.backup_folder }}"
            },
            "table": {
                "type": "String",
                "defaultValue": "{{target.database}}_master.{{ source.database}}_{{ template_config.variables.source_tablename_formatted }}"
            },
            "filename": {
                "type": "String"
            },
            "business_function_group": {
                "type": "String",
                "defaultValue": "{{ target.database }}"
            },
            "load_pattern": {
                "type": "String",
                "defaultValue": "{{template_config.properties.pattern}}"
            },
            "raw_folder": {
                "type": "String",
                "defaultValue": "{{ source.raw_folder }}"
            },
            "source_database": {
                "type": "String",
                "defaultValue": "{{ source.database }}"
            }
        },
        "annotations": [
            "Target DB: {{ target.database }}",
            "Templator: v{{templator_info.version}}"
        ]
    }
}