{
    "name": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}_{{source.database}}_{{source.schema}}_{{template_config.variables.source_tablename_formatted}}",
    "properties": {
        "activities": [
            {
                "name": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}_{{source.database}}_{{source.schema}}_{{template_config.variables.source_tablename_formatted}}",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderStoredProcedureName": "[dbo].[{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}_{{source.database}}_{{source.schema}}_{{template_config.variables.source_tablename_formatted}}]",
                        "storedProcedureParameters": {
                            "BLOBPATH": {
                                "type": "String",
                                "value": {
                                    "value": "@pipeline().parameters.BLOB_PATH",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    "dataset": {
                        "referenceName": "{{target.genericdataset}}",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "Send Failed Email",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}_{{source.database}}_{{source.schema}}_{{template_config.variables.source_tablename_formatted}}",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "url": "{{properties.logic_app_url}}",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "message": "@{activity('{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}_{{source.database}}_{{source.schema}}_{{template_config.variables.source_tablename_formatted}}').error.message}",
                        "Subject": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}_{{source.database}}_{{source.schema}}_{{template_config.variables.source_tablename_formatted}} failed",
                        "numberOfRecords": "@{activity('{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}_{{source.database}}_{{source.schema}}_{{template_config.variables.source_tablename_formatted}}').output.dataWritten}",
                        "dataFactoryName": "@{pipeline().DataFactory}",
                        "pipelineName": "@{pipeline().Pipeline}",
                        "receiver": "@pipeline().parameters.receiver",
                        "Guid": "{{properties.logic_app_secret}}"
                    }
                }
            }
        ],
        "parameters": {
            "BLOB_PATH": {
                "type": "String",
                "defaultValue": "~~~~"
            },
            "receiver": {
                "type": "String",
                "defaultValue": "~~~~"
            }
        },
        "folder": {
            "name": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}"
        },
        "annotations": [
            "Templator: v{{templator_info.version}}"{{#tags}},{{/tags}}
            {{#tags}}
                {{label}}{{^last}},{{/last}}
            {{/tags}}
        ]
    }
}