{
    "name": "BLOB_{{ source.database }}_{{ source.schema }}_{{ source.tablename }}",
    "properties": {
        "linkedServiceName": {
            "referenceName": "{{ target.service_name }}",
            "type": "linkedServiceReference"
        },
        "folder": {
            "name": "{{ pattern }}_{{ source.system_name }}"
        },
        "type": "AzureBlob",
        "typeProperties": {
            "format": {
                "type": "TextFormat",
                "columnDelimiter": "|",
                "rowDelimiter": "\n",
                "nullValue": "",
                "treatEmptyAsNull": false,
                "skipLineCount": 0,
                "firstRowAsHeader": false
            },
            "fileName": "{{ target.blob_file_name }}",
            "folderPath": "{{{ target.blob_folder }}}"
        }
    }
}