{
    "name": "S2R_FULLTABLE_{{ source.database }}_{{ source.schema }}_{{ source.tablename }}",
    "properties": {
        "activities": [
            {
                "name": "Extract_Table_From_Oracle",
                "type": "Copy",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "OracleSource",
						"oracleReaderQuery": "{{ oracle_reader_query }}"
                    },
                    "sink": {
                        "type": "BlobSink"
                    },
                    "enableStaging": false,
                    "dataIntegrationUnits": 0
                },
                "inputs": [
                    {
                        "referenceName": "Oracle_{{ source.database }}_{{ source.schema }}_{{ source.tablename }}",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "BLOB_{{ source.database }}_{{ source.schema }}_{{ source.tablename }}",
                        "type": "DatasetReference"
                    }
                ]
            }
        ],
        "folder": {
            "name": "S2R"
        }
    }
}