{
    "name": "{{ template_config.outputs.0.output_file.name }}",
    "properties": {
        "description": "A pipeline that extracts the full table from {{source.schema}}.{{source.tablename}} from the database {{source.database}}. It then drops it into the {{target.storage_container}} using {{target.genericdataset}} as a reference for the Blob storage account.",
        "activities": [
            {
                "name": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}",
                "type": "Copy",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30
                },
                "typeProperties": {
                    "source": {
                        "type": "OracleSource",
                        "oracleReaderQuery": "SELECT {{#columns}}REPLACE(REPLACE({{name}}, CHR(13), '    '), CHR(10), '    '){{^last}},{{/last}}{{/columns}} FROM {{source.schema}}.{{source.tablename}}"
                    },
                    "sink": {
                        "type": "BlobSink"
                    },
                    "enableStaging": false,
                    "dataIntegrationUnits": 0
                },
                "inputs": [
                    {
                        "referenceName": "{{source.genericdataset}}",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "{{target.genericdataset}}",
                        "type": "DatasetReference",
                        "parameters": {
                            "subfolder": "{{source.tablename}}",
                            "filename": "out.dsv"
                        }
                    }
                ]
            }
        ],
        "folder": {
            "name": "TEMPLATED"
        },
        "annotations": [
            "Templator: v{{templator_info.version}}"
        ]
    }
}