{
    "cells": [
        {
            "cell_type": "code",
            "source": [
                "jdbcUrl = dbutils.secrets.get('{{ source.secret_scope}}', '{{ source.database_connection_string_secret_name}}')\npushdown_query = \"(select * from {{template_config.variables.source_tablename_formatted}}) as blah\"\nmyRecords = sqlContext.read.format(\"jdbc\").options(url=jdbcUrl, dbtable=pushdown_query).load()\n\nmyRecords.createOrReplaceTempView(\"myRecords\")\ndisplay(myRecords)"
            ],
            "metadata": {},
            "outputs": [],
            "execution_count": 1
        },
        {
            "cell_type": "code",
            "source": [
                "sdf = spark.sql(\"\"\"\nSELECT \n{{#source.date_columns}}to_utc_timestamp(CAST(UNIX_TIMESTAMP(`{{name}}`, \"{{ source.date_format }}\") AS TIMESTAMP), '{{source.date_locale}}') AS `{{name_without_spaces}}_UTC`,\n{{/source.date_columns}}{{#columns}}\tTRIM(m.`{{name}}`) as `{{name_without_spaces}}`,\n {{/columns}}\tcurrent_timestamp() AS run_date_utc\n   FROM myRecords AS m\n\"\"\")\nsdf.createOrReplaceTempView(\"sdf\")"
            ],
            "metadata": {},
            "outputs": [],
            "execution_count": 2
        },
        {
            "cell_type": "code",
            "source": [
                "%sql\nDROP TABLE IF EXISTS {{ target.database }}_master.{{ source.database}}_{{ template_config.variables.source_tablename_formatted }}_temp;\n\nCREATE TABLE {{ target.database }}_master.{{ source.database}}_{{ template_config.variables.source_tablename_formatted }}_temp\n USING parquet\n    AS\n    SELECT *\n      FROM sdf;"
            ],
            "metadata": {},
            "outputs": [],
            "execution_count": 3
        },
        {
            "cell_type": "code",
            "source": [
                "%sql\n\nDROP TABLE IF EXISTS {{ target.database }}_master.{{ source.database}}_{{ template_config.variables.source_tablename_formatted }};\n\nALTER TABLE {{ target.database }}_master.{{ source.database}}_{{ template_config.variables.source_tablename_formatted }}_temp RENAME TO {{ target.database }}_master.{{ source.database}}_{{ template_config.variables.source_tablename_formatted }};"
            ],
            "metadata": {},
            "outputs": [],
            "execution_count": 4
        }
    ],
    "metadata": {
        "name": "R2M_DL1_VoyageJob",
        "notebookId": 1044016511868675
    },
    "nbformat": 4,
    "nbformat_minor": 0
}