{
    "name": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}_{{source.database}}_{{source.schema}}_{{template_config.variables.source_tablename_formatted}}",
    "properties": {
        "runtimeState": "{{ properties.trigger_status }}",
        "pipelines": [
            {
                "pipelineReference": {
                    "referenceName": "{{template_config.outputs.1.output_file.name}}",
                    "type": "PipelineReference"
                },
                "parameters": {
                    "filename": "@{triggerBody().filename}"
                }
            }
        ],
        "type": "BlobEventsTrigger",
        "typeProperties": {
            "blobPathBeginsWith": "/landed/blobs/{{source.database}}/{{template_config.variables.source_tablename_formatted}}/",
            "blobPathEndsWith": "--complete",
            "ignoreEmptyBlobs": false,
            "scope": "/subscriptions/{{ properties.azure_subscription_id }}/resourceGroups/{{ properties.resource_group }}/providers/Microsoft.Storage/storageAccounts/{{ source.gen2storagename }}",
            "events": [
                "Microsoft.Storage.BlobCreated"
            ]
        },
        "annotations": [
            "Templator: v{{templator_info.version}}"{{#tags}},{{/tags}}
            {{#tags}}
                {{label}}{{^last}},{{/last}}
            {{/tags}}
        ]
    }
}