{
    "name": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}_{{source.database}}_{{source.schema}}_{{source.tablename}}",
    "properties": {
        "activities": [
            {
                "name": "{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}_{{source.database}}_{{source.schema}}_{{source.tablename}}",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderStoredProcedureName": "[dbo].[{{template_config.properties.dam_prefix}}_{{template_config.properties.pattern}}_{{source.database}}_{{source.schema}}_{{source.tablename}}]",
                        "storedProcedureParameters": {
                            "BLOBPATH": {
                                "type": "String",
                                "value": {
                                    "value": "@pipeline().parameters.BLOB_PATH",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    "dataset": {
                        "referenceName": "{{properties.dummysource}}",
                        "type": "DatasetReference"
                    }
                }
            }
        ],
        "parameters": {
            "BLOB_PATH": {
                "type": "String",
                "defaultValue": "~~~~"
            }
        },
        "annotations": [
            "DAM: {{ template_config.properties.dam_prefix }}",
            "Load Pattern: {{ template_config.properties.pattern }}",
            "Templator: v{{templator_info.version}}"
        ]
    }
}