CREATE PROCEDURE {{template_config.properties.pattern}}_{{source.database}}_{{source.schema}}_{{source.tablename}}
    @BLOBPATH VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RowsInserted INT,

    /* Declare an external table that points to the folder for files to input */
    CREATE EXTERNAL TABLE #ext_{{source.database}}_{{source.schema}}_{{source.tablename}} (
        {{#columns}}'{{name}}' as '{{name_without_spaces}}'{{^last}},{{/last}}{{/columns}}
    )
    WITH ( LOCATION = @BLOBPATH,   
        DATA_SOURCE = {{properties.data_source}},  
        FILE_FORMAT = {{properties.file_format}},
        REJECT_TYPE = VALUE,
        REJECT_VALUE = 0
    );

    /* Now insert into the table */
    INSERT INTO [{{source.database}}-main].[{{source.schema}}_{{source.tablename}}]
    SELECT * FROM #ext_{{source.database}}_{{source.schema}}_{{source.tablename}};

    SELECT @RowsInserted AS RowsInserted;
END