{
    "cell_type": "code",
    "source": [
        "sdf = spark.sql(\"\"\"\nSELECT \n{{#source.date_columns}}to_utc_timestamp(CAST(UNIX_TIMESTAMP(`{{name}}`, \"{{ source.date_format }}\") AS TIMESTAMP), '{{source.date_locale}}') AS `{{name_without_spaces}}_UTC`,\n{{/source.date_columns}}{{#columns}}\tTRIM(m.`{{name}}`) as `{{name_without_spaces}}`{{^last}},\n {{/last}}{{/columns}},\n\tcurrent_timestamp() AS run_date_utc\n   FROM myRecords AS m\n\"\"\")\nsdf.createOrReplaceTempView(\"sdf\")"
    ],
    "metadata": {},
    "outputs": [],
    "execution_count": null
},
{
    "cell_type": "code",
    "source": [
        "%sql\nDROP TABLE IF EXISTS {{ target.database }}_master.{{ source.database}}_{{ template_config.variables.source_tablename_formatted }}_temp;\n\nCREATE TABLE {{ target.database }}_master.{{ source.database}}_{{ template_config.variables.source_tablename_formatted }}_temp\n USING parquet\n    AS\n    SELECT *\n      FROM sdf;"
    ],
    "metadata": {},
    "outputs": [],
    "execution_count": null
},
{
    "cell_type": "code",
    "source": [
        "%sql\n\nDROP TABLE IF EXISTS {{ target.database }}_master.{{ source.database}}_{{ template_config.variables.source_tablename_formatted }};\n\nALTER TABLE {{ target.database }}_master.{{ source.database}}_{{ template_config.variables.source_tablename_formatted }}_temp RENAME TO {{ target.database }}_master.{{ source.database}}_{{ template_config.variables.source_tablename_formatted }};"
    ],
    "metadata": {},
    "outputs": [],
    "execution_count": null
}