{
    "name": "test_backup_and_restore",
    "properties": {
        "activities": [
            {
                "name": "R2M_{{target.table}}",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Backup_{{target.table}}",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "{{ properties.notebook_path }}",
                    "baseParameters": {
                        "filename": {
                            "value": "@pipeline().parameters.filename",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Backup_{{target.table}}",
                "type": "DatabricksNotebook",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "{{ global.backup_notebook_path}}",
                    "baseParameters": {
                        "backup_folder": {
                            "value": "@pipeline().parameters.backup_folder",
                            "type": "Expression"
                        },
                        "table": {
                            "value": "@pipeline().parameters.table",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Reconcilliation_Restore_{{target.table}}",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Reconcilliation_{{target.table}}",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "{{ global.restore_notebook_path }}",
                    "baseParameters": {
                        "backup_filename": {
                            "value": "@pipeline().parameters.backup_filename",
                            "type": "Expression"
                        },
                        "backup_folder": {
                            "value": "@pipeline().parameters.backup_folder",
                            "type": "Expression"
                        },
                        "table": {
                            "value": "@pipeline().parameters.table",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Reconcilliation_{{target.table}}",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "R2M_{{target.table}}",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "{{ global.reconcilliation_notebook_path}}"
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "R2M_Restore_{{target.table}}",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "R2M_{{target.table}}",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "{{global.restore_notebook_path}}",
                    "baseParameters": {
                        "backup_filename": {
                            "value": "@pipeline().parameters.backup_filename",
                            "type": "Expression"
                        },
                        "backup_folder": {
                            "value": "@pipeline().parameters.backup_folder",
                            "type": "Expression"
                        },
                        "table": {
                            "value": "@pipeline().parameters.table",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "parameters": {
            "backup_filename": {
                "type": "String",
                "defaultValue": "LATEST"
            },
            "backup_folder": {
                "type": "String",
                "defaultValue": "{{ backup_folder }}"
            },
            "table": {
                "type": "String",
                "defaultValue": "{{ target.table }}"
            },
            "filename": {
                "type": "String"
            }
        }
    }
}