{
    "cells": [
        {{> LOAD_FROM_BLOBGEN2_JSON_NOTEBOOK}}
        {{> DL3_IPYNB_NOTEBOOK }}
    ],
    "metadata": {
        "name": "L2O_DL3_{{ template_config.variables.source_tablename_formatted }}"
    },
    "nbformat": 4,
    "nbformat_minor": 0
}