{
    "name": "{{ outputs.0.output_file.name }}",
    "properties": {
        "activities": [
            {
                "name": "R2M_DL4",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Backup",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "/Shared/Operational/{{target.database}}/Master/R2M_DL4_{{source.database}}_{{source.schema}}_{{source.tablename}}",
                    "baseParameters": {
                        "filename": {
                            "value": "@pipeline().parameters.filename",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Backup",
                "type": "DatabricksNotebook",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "{{ properties.backup_notebook_path}}",
                    "baseParameters": {
                        "backup_folder": {
                            "value": "@pipeline().parameters.backup_folder",
                            "type": "Expression"
                        },
                        "table": {
                            "value": "@pipeline().parameters.table",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Reconcilliation_Restore",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Reconcilliation_and_Capture_Run_Data",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "{{ properties.restore_notebook_path }}",
                    "baseParameters": {
                        "backup_filename": {
                            "value": "@pipeline().parameters.backup_filename",
                            "type": "Expression"
                        },
                        "backup_folder": {
                            "value": "@pipeline().parameters.backup_folder",
                            "type": "Expression"
                        },
                        "table": {
                            "value": "@pipeline().parameters.table",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Reconcilliation_and_Capture_Run_Data",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "R2M_DL4",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "{{ properties.reconcilliation_notebook_path}}",
                    "baseParameters": {
                        "business_function_group": {
                            "value": "@pipeline().parameters.business_function_group",
                            "type": "Expression"
                        },
                        "filename": {
                            "value": "@pipeline().parameters.filename",
                            "type": "Expression"
                        },
                        "full_table_name": {
                            "value": "@pipeline().parameters.table",
                            "type": "Expression"
                        },
                        "load_pattern": {
                            "value": "@pipeline().parameters.load_pattern",
                            "type": "Expression"
                        },
                        "raw_folder": {
                            "value": "@pipeline().parameters.raw_folder",
                            "type": "Expression"
                        },
                        "source_database": {
                            "value": "@pipeline().parameters.source_database",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "R2M_Restore",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "R2M_DL4",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "notebookPath": "{{properties.restore_notebook_path}}",
                    "baseParameters": {
                        "backup_filename": {
                            "value": "@pipeline().parameters.backup_filename",
                            "type": "Expression"
                        },
                        "backup_folder": {
                            "value": "@pipeline().parameters.backup_folder",
                            "type": "Expression"
                        },
                        "table": {
                            "value": "@pipeline().parameters.table",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Alert on R2M Fail",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "R2M_DL4",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "url": "{{properties.logic_app_url}}",
                    "method": "POST",
                    "body": {
                        "value": "{\n    \"filename\": \"@{pipeline().parameters.filename}\",\n    \"table\": \"@{pipeline().parameters.table}\",\n    \"pipeline\": \"@{pipeline().Pipeline}\",\n    \"triggered\": \"@{pipeline().TriggerTime}\"\n}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Alert on Reconcilliation Fail",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Reconcilliation_and_Capture_Run_Data",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false
                },
                "typeProperties": {
                    "url": "{{properties.logic_app_url}}",
                    "method": "POST",
                    "body": {
                        "value": "{\n    \"filename\": \"@{pipeline().parameters.filename}\",\n    \"table\": \"@{pipeline().parameters.table}\",\n    \"pipeline\": \"@{pipeline().Pipeline}\",\n    \"triggered\": \"@{pipeline().TriggerTime}\"\n}",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "backup_filename": {
                "type": "String",
                "defaultValue": "LATEST"
            },
            "backup_folder": {
                "type": "String",
                "defaultValue": "{{ properties.backup_folder }}"
            },
            "table": {
                "type": "String",
                "defaultValue": "{{target.database}}_master.{{ source.database}}_{{ source.tablename }}"
            },
            "filename": {
                "type": "String"
            },
            "business_function_group": {
                "type": "String",
                "defaultValue": "{{ target.database }}"
            },
            "load_pattern": {
                "type": "String",
                "defaultValue": "DL4"
            },
            "raw_folder": {
                "type": "String",
                "defaultValue": "{{ source.raw_folder }}"
            },
            "source_database": {
                "type": "String",
                "defaultValue": "{{ source.database }}"
            }
        }
    }
}