{
    "cell_type": "code",
    "source": [
        "filename = \"\""
    ],
    "metadata": {
        "tags": [
            "parameters"
        ]
    },
    "outputs": [],
    "execution_count": null
},
{
    "cell_type": "code",
      "source": [
        "raw_folder = \"{{ source.landed_folder }}\"\n",
        "infile = raw_folder + \"/\" + filename.split(\"--\")[0] + \"/*\"\n",
        "\n",
        "myRecords = spark.read.option(\"multiline\",\"true\").json(\"abfss://landed@{{source.gen2storagename}}.dfs.core.windows.net/\" + infile)\n",
        "myRecords.createOrReplaceTempView(\"myRecords\")"
      ],
    "metadata": {},
    "outputs": [],
    "execution_count": null
},